<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE struts PUBLIC "-//Apache Software Foundation//DTD Struts Configuration 2.1//EN" "http://struts.apache.org/dtds/struts-2.1.dtd">

<struts>
  <package name="cn.com.topit.gl.system" namespace="/system" extends="cn.com.topit.gl">
   <action name="vCultivateRoom" class="vCultivateRoomAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="cultivateRoom" class="cultivateRoomAction">
      <result type="json" name="managerExt">
        <param name="root">records</param>
        <param name="noCache">true</param>
      </result>
    </action>
    <action name="vCultivateManager" class="vCultivateManagerAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
   <action name="cultivateManager" class="cultivateManagerAction">
      <result type="json" name="managerExt">
        <param name="root">records</param>
        <param name="noCache">true</param>
      </result>
    </action>
    <action name="vGenre" class="vGenreAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="genre" class="genreAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="vProduct" class="vProductAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="consumeType" class="consumeTypeAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="paymentType" class="paymentTypeAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="consumeArea" class="consumeAreaAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="resource" class="resourceAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="roles" class="rolesAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="userRole" class="userRoleAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
     <action name="city" class="cityAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="area" class="areaAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="vArea" class="vAreaAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="building" class="buildingAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="circle" class="circleAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="vCircle" class="vCircleAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="vBuilding" class="vBuildingAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="floor" class="floorAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="vFloor" class="vFloorAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="workbench" class="workbenchAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="vWorkbench" class="vWorkbenchAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="workbenchType" class="workbenchTypeAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="office" class="officeAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="vOffice" class="vOfficeAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="officeType" class="officeTypeAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>    
    <action name="meetingRoom" class="meetingRoomAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="vMeetingRoom" class="vMeetingRoomAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="exhibitionRoom" class="exhibitionRoomAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="vExhibitionRoom" class="vExhibitionRoomAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="telRoom" class="telRoomAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="vTelRoom" class="vTelRoomAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="vVipRoom" class="vVipRoomAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>
    <action name="vipRoom" class="vipRoomAction">
      <result type="json" name="managerExt">
        <param name="root">records</param>
        <param name="noCache">true</param>
      </result>
    </action>
     <action name="users" class="usersAction">
      <result type="json" name="managerExt">
        <param name="root">records</param>
        <param name="noCache">true</param>
      </result>
    </action>
    <action name="roomFacilities" class="roomFacilitiesAction">
    	<result type="json" name="managerExt">
    		<param name="root">records</param>  
        	<param name="noCache">true</param> 
        </result>
    </action> 
    <action name="productType" class="productTypeAction">
      <result type="json" name="managerExt"> 
        <param name="root">records</param>  
        <param name="noCache">true</param> 
      </result>
    </action>  
     <action name="products" class="productsAction">
    	<result type="json" name="managerExt">
    		<param name="root">records</param>  
        	<param name="noCache">true</param> 
        </result>
    </action>  
  </package>
</struts>
